body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

ul {
  padding: 0px !important;
}

main, .content {
  margin: 0 auto;
  width: 980px;
  position: relative;
}

.menu-principal{
  width: 100%;
  background-color: #252323;
  height: 60px;

}

.logo {
  float: left;
  padding: 16px;
  width: 70%
}

.redes-sociais ul li {
  margin-left: 25px;
  display: inline-block;
  list-style: none;
}

.redes-sociais {
  width: 25%;
  float: right;
}

.header-2 {
  background-color: #fff;
  width:  980px;
  margin: 0 auto;
  padding: 16px;
}

.menu-urls {
  height: 80px;
  border-bottom: 3px solid #efefef;
}

.menu {
  width: 70%;
  float: left
}

.menu ul li {
  display: inline-block;
  color: #8b8b8b;
  margin-left: 15px;
  height: 48px;
}

.menu ul li:hover {
  border-bottom: 3px solid #00bac6;
}

.menu ul li a {
  font-size: 18px;
  color: #8b8b8b;
  text-decoration-line: none;
  text-transform: uppercase;
}

.menu ul li a:hover {
  color: #00bac6;
  
}

.busca {
  width: 30%;
  float: right;
  text-align: center;
}

.busca input {
  background-image: url('../img/lupa.png');
  background-repeat: no-repeat;
  background-position: 95%;
  margin-top: 10px;
  height: 16px;
  width: 190px;
  padding: 10px;
  border: 1px solid #d6d6d6
}

.col-100 {
  width: 100%;
  float: left;
  position: relative;
}

button.slick-prev {
  font-size: 0px;
  border: none;
  position: absolute;
  z-index: 9;
  width: 26px;
  height: 53px;
  background-color: transparent;
  background-image: url('../img/arrow-l.png');
  top: 35%;
  left: 14%;
}

button.slick-next {
  font-size: 0px;
  border: none;
  position: absolute;
  z-index: 9;
  width: 26px;
  height: 53px;
  background-color: transparent;
  background-image: url('../img/arrow-r.png');
  top: 35%;
  right: 14%;
}

.slick-dots {
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 90%;
}

.slick-dots li {
  padding-left: 10px;
  display: inline-block;
}

.slick-dots li button{
  font-size: 0px;
  border: 5px solid #fff;
  border-radius: 50%;
  background: transparent;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

li.slick-active button {
  background-color: #00bac6;
}

h3 {
  font-weight: normal!important;
}

.texto-destaque {
  text-align: center;
}

.texto-destaque strong {
  color: #646464
}

.texto-destaque h1 {
  font-size: 30px;
  color: #818181;
}

.texto-destaque p {
  font-size: 15px;
  color: #9a9a9a;
}

.col-3 {
  width: 30%;
  float: left;
  position: relative;
  padding: 0 15px;
}

.bloco-imagem img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.bloco-imagem {
  height: 300px;
  border: 1px solid #c5c5c5;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
}

.bloco-imagem b, p {
  text-align: left;
}

.bloco-texto {
  margin-top: 3em;
}

.bloco-imagens-texto {
  background-color: #eeeeee;
}

.bloco-imagens-texto::before {
  width: 100%;
  display: inline-block;
  content: '';
  height: 63px;
  background-image: url(../img/seta.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;

}

.bloco-imagens-texto::after {
  width: 100%;
  display: inline-block;
  content: '';
  height: 70px;
  background-color: #eeeeee;
}

.col-4 {
  float: left;
  width: 25%;
  text-align: center;
}

.col-4 img {
  margin: 0 auto;
  padding-top: 1em;
  vertical-align: middle;
}

.bloco-logos {
  height: 170px;
}

.bloco-logos img {
  margin-top: 50px;
}


